body {
    background: linear-gradient(to right, #f857a6, #ff5858);
}

h1 {
    color: #eee;
    font-family: Open Sans;
    font-size: 200%;
}

h2 {
    color: #eee;
    font-family: Open Sans;
    font-size: 100%;
}

button {
    background: #eee;
    font-family: Open Sans;
    font-weight: 300;
    border: 5px;
    color: #ff69b4;
    border-style: solid;
    border-color: #ff1493;
    border-radius: 3px;
}

div {
    
    font-family: Open Sans;
    font-weight: 300;
}

form {
    
    margin: auto;
    width: 50%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 1px;
}

input {
    margin: auto;
    width: 50%;
    padding: 1px;
}